*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right bottom,
     rgba(241, 226, 12, 0.795),
     blue) no-repeat center;
    color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    background: url('./img/weather.jpg.jpg') no-repeat right ;
    background-size:cover ;
    height: 70vh;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}
.main-container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0),rgba(0, 0, 0, 8) );
    z-index: 0px;
}
.container{
    height: 50vh;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 999;
    max-width: 200px;

}

.container h2{
    line-height: 2;
    letter-spacing: 0.88px;
    font-size: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

form input, button {
    width: 200px;
    padding: 5px;
    margin: 2px auto;
    border: none;
    transition:font-size 1s ease ;
}
form input {
    border-radius: 6px 0px ;
    border-bottom: 2px solid rgba(233, 219, 18, 0.335);
    background: rgb(32, 31, 31);
    color: #ffffff;
    text-align: center;

}
form input::placeholder {
    color: rgb(248, 217, 217);
}

form input:focus::placeholder {
    color: #ffffff;
 
 }
form button {
    background:rgba(9, 44, 243, 0.438);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
form input:focus, button:focus{
    outline-style: none;
    font-size: 14.88px;
}

form .error{
    color: rgb(161, 23, 23);
    font-size: 13px;
    font-weight: lighter;
    padding: 5px;
    transition:  all ease-in-out 2s;
}

.container .content-container .location {
    margin: 5px 0px 10px 0px;
}
.content-container .location > * {
    margin: 5px 0px;
    font-weight: bold;

}
.content-container .border-line{
    background: white;
    height: 2px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.content-container .current > * {
    text-align: start;
    margin: 5px 0px;
    font-weight: bold;

}
